<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/scss/style.css">
    <link rel="shortcut icon" href="/icons/Logo-UMRI.ico" type="image/x-icon">
    <title>Kantin menu</title>
</head>

<body>
    <header class="header">
        <div class="logo-top"></div>
        <div class="navbar">
            <nav class="nav-menu">
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="logoimg">
            <img src="/icons/logo_umri.png" alt="" class="logo-img">
        </div>
    </header>

    <div id="kantin" class="kantin"></div>
    <div class="spacecontent" id="package">
        <div class="store">
            <div class="nama-kantin spaceheader">
                <p class="nama">
                    Kantin Awefa
                </p>
            </div>
            <div class="container">
                <div class="d-flex spacecontent jb-sc">
                    <div class="store-item">
                        <img src="/icons/kantin1.src/mie_goreng.jpg" alt="" class="img-responsive">
                        <h3>Mie Goreng</h3>
                        <h5>Rp. 10.000</h5>
                        <p>Silahkan Order!</p>
                        <div class="price">
                            <button onclick="redirWeb1()" class="btn-order">Pesan</button>
                        </div>
                    </div>
                    <div class="store-item">
                        <img src="icons/item1.jpg" alt="" class="img-responsive">
                        <h3>Kantin 2</h3>
                        <p>Silahkan Cek Menu!</p>
                        <div class="price">
                            <button onclick="redirWeb2()" class="btn">Order</button>
                        </div>
                    </div>
                    <div class="store-item">
                        <img src="icons/item1.jpg" alt="" class="img-responsive">
                        <h3>Kantin 3</h3>
                        <p>Silahkan Cek Menu!</p>
                        <div class="price">
                            <button onclick="redirWeb3() " class="btn">Order</button>
                        </div>
                    </div>
                    <div class="store-item">
                        <img src="icons/item1.jpg" alt="" class="img-responsive">
                        <h3>Kantin 4</h3>
                        <p>Silahkan Cek Menu!</p>
                        <div class="price">
                            <button onclick="redirWeb4()" class="btn">Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>