* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f3f3f3;
    font-family: 'Poppins', sans-serif;
}

.menu{
    margin-top: 50px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 40px;
}

.logo {
    &-top {
        background-color: yellow;
        height: 6.5px;
    }

    &-img {
        background-color: #fff;
        box-shadow: 0px 3px 30px 2px rgba(0, 0, 0, 0.61);
        -webkit-box-shadow: 0px 3px 30px 2px rgba(0, 0, 0, 0.61);
        -moz-box-shadow: 0px 3px 30px 2px rgba(0, 0, 0, 0.61);

        img {
            width: 20%;
            margin-left: 40px;
        }
    }
}

.header {
    .navbar {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(38, 140, 6, 1) 0%, rgba(17, 118, 71, 1) 36%, rgba(0, 92, 113, 1) 80%);
        height: 46px;
    }

    nav ul {
        margin-top: 2px;
        margin-left: 850px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    li {
        list-style-type: none;
    }

    li a {
        border-right: 1px solid #fff;
        padding: 0 10px;
        color: #fff;
        transition: all .5s ease 0s;
        background: none;
        font-size: .8em;
        font-weight: 600;
        margin-left: 2px;
    }

    li a:hover {
        color: yellow;
        background: none;
        transform: scale(110%);
    }

    a {
        font-size: 20px;
        color: #fff;
        text-decoration: none;
    }
}

